@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    /* background-color: salmon; */
    font-family: Lexend, sans-serif;
    font-weight: 300;
    color: #00003B;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;    
}

/* Header */

#header-image-outer {
    height: 900px;
    width: 100%;
}

#header-image {
    height: 900px;
    width: 100%;
    background: url(../images/mountain.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* animates zoom effect on loading image*/
    animation: header-zoom 2s forwards;
}

/* Creates the level of zoom for hero image */ 

@keyframes header-zoom {
    from{
        transform: scale(0.95);
    }   
    to{
        transform: scale(1);
    }     
}

/* Navigation links */

#mountain-logo {
    height: 150px;
    width: 150px;
    float: left;
}

#mountain-logo:hover {
    opacity: 0.5;
} 

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 10px;
    float: left;
    padding-top: 60px;
}        

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #00003B;
}

.active {
    border-bottom: 1px solid #00003B;
}

#nav-bg {
    width: 100%;
    height: 150px;
    background-color: #C5C8DB;
    opacity: 0.5;
}




